
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<BookStoreOnline.Models.Product>
@{
    var price = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var user = Session["TaiKhoan"] as BookStoreOnline.Models.Customer;
}


<div class="container body-page">

    <div class="row">
        <div class="col-lg-3">


            @{ Html.RenderAction("GetCategorySelection", "CategoryPartial");}
        </div>
        <div class="col-lg-9 list-book">
            <h3 style="color:gray">Kết quả tìm kiếm cho "@ViewBag.TextSeatch"</h3>
            <div class="row">
                <!-- product -->


                @foreach (var item in Model)
                {
                    <div class="prod-item">
                        <div class="card" style="width: 18rem;">
                            <a href="@Url.Action("Index/"+ item.ProductID,"ProductDetail")"><img class="card-img-top" src="~/Images/@item.ImageProd" alt="Card image cap"></a>
                            <div class="card-body">
                                <a href="@Url.Action("Index/"+ item.ProductID,"ProductDetail") " class="title-prod"> <h5 class="card-title">@item.ProductName </h5> </a>
                                <h5 style="color: darkred;">@String.Format(price, "{0:c0}", item.Price)</h5>
                                @if (user != null)
                                {
                                    <a href="@Url.Action("AddSingleProduct/"+ item.ProductID,"Cart")" class="add-to-cart-btn"><i class="ti-plus"></i></a>

                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "User")" class="add-to-cart-btn"><i class="ti-plus"></i></a>

                                }
                                <a href="@Url.Action("Index/"+ item.ProductID,"ProductDetail")" class="see-detail-prod"><i class="ti-eye"></i></a>

                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>
</div>

